/* 
Blanco: #F4FFFD 
Rosa: #ED254E
Amarillo: #F9DC5C
azul: #011936
*/
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Lato&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  display: flex;
}

main {
  background: radial-gradient(#F9DC5C 50%, #fbb245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

h1 {
  color: #011936;
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 60px;
}

.name{
  color: #011936;
}

.container{
  min-width: 90%;
}

.result{
  display: grid;
  grid-template-columns: 100px auto 100px;
  margin-bottom: 15px;
}

.center{
  justify-self: center;
}


h2 {
  display: inline-block;
  color: #ED254E;
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  display: inline-block;
  color: #011936;
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contenedor {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back {
  position: relative;
  height: 40px;
  width: 40px;
}

.back>div {
  position: absolute;
  border-radius: 5px;
  background-color: #011936;
}

.back-1 {
  top: 21.5px;
  transform: rotate(45deg);
  height: 5px;
  width: 20px;
}

.back-2 {
  top: 10px;
  transform: rotate(-45deg);
  height: 5px;
  width: 20px;
}

.back-3 {
  top: 16px;
  left: 5px;
  height: 5px;
  width: 30px;
}